<!DOCTYPE html>
<html>
    <head>
        <title>All Pickle</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mini-css/3.0.1/mini-default.min.css' %}" />
    </head>
    <body>
        <label for="drawer-control" class="button drawer-toggle persistent doc"></label>
        <input type="checkbox" id="drawer-control" class="drawer persistent">
        <div>
            <label for="drawer-control" class="drawer-close"></label>
            <div>
                    <a href="{% url 'pickles:new pickle' %}">New Pickle</a>
            </div>
            <div>
                <a href="">New Review</a>
            </div>
            <div>
                <a href="">Recommended Pickles</a>
            </div>
            <div>
                <a href="">Your Pickles</a>
            </div>
        </div>
        <table>
            <thead>
                <th>Pickle</th>
            </thead>>
            <tbody>
        {% for pickle in all_pickles %}
                <tr>
                    <td><a href="{% url 'pickles:pickle' pickle.id %}">{{ pickle.name }}</a></td>
                </tr> 
        {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>