<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0" />
        <title>New Review</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mini-css/3.0.1/mini-default.min.css' %}" />
        <script src="{% static 'js/mx-menu.js' %}" type="module"></script>
        <script src="{% static 'js/mx-select.js' %}" type="module"></script>
    </head>
    <body>
        <mx-menu></mx-menu>
        <form action="{% url 'pickles:new review' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h2>New Review</h2></legend>
                <mx-select mxName="pickle_list" mxLabel="Pickle" endpoint="{% url 'pickles:get all' %}"></mx-select>
                <div class="input-group vertical">
                    <label for="pickle_rating">Rating</label>
                    <input type="range" min="0" max="10" id="pickle_rating" name="pickle_rating">
                </div>
                <div class="input-group vertical">
                    <label for="review_title">Title</label>
                    <input type="text" name="review_title" id="review_title">
                </div>
                <div class="input-group vertical">
                    <label for="review"></label>
                    <textarea name="review" id="review" rows="5"></textarea>
                </div>
            </fieldset>
            <input type="submit" value="Add New Review" class="primary">
        </form>
        <!-- http://accuratesearch.org/#about -->
    </body>
</html>